datasets/
outputs/

**/__pycache__/

**/assets/

# ignore tensorboard summary writter files
**.out**
# ignore ckpt moel save files
**ckpt**
# ignore command history file
**cmds**
# ignore env simulation outputs
**/env*/